body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b;
}

:root {
  --color: #17a2b8;
  --bg-color: rgb(30, 32, 43);
}
/* ---------------------------------Nav---------------------------------------------- */
.nav-text {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.nav-text .desc-text {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #bfc1c8;
}
.nav-link {
  padding: 3px 20px !important;
  font-weight: 500 !important;
  border: 2px solid transparent;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.nav-item .nav-link:hover,
.nav-item .active {
  color: var(--color) !important;
  border: 2px solid var(--color);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* -------------------------------- section one -------------------------------------*/
.one {
  background-image: url(../img/banner.png);
  background-size: cover;
  min-height: 400px;
  padding: 75px 0px;
}
.one .search-container {
  position: relative;
}
.one .search-container input {
  width: 100%;
  padding: 20px;
  background: var(--bg-color);
}
.one .search-container button {
  position: absolute;
  padding: 0px 40px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  background-color: var(--color);
}
#search,
#submit {
  border: none;
  color: white;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
/* -------------------------------- section two -------------------------------------*/
.forcast-container {
  margin-top: -150px;
  margin-bottom: 50px;
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}
.left1,
.right1 {
  background: #2d303d;
}
.left2,
.right2 {
  background: #323544;
}
.left1 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.left2 {
  padding: 30px 20px;
}
.left2 .location {
  font-size: 18px;
  font-weight: 500;
}
.left2 .temp-info .temp {
  font-size: 76px;
  font-weight: 700;
  color: white;
  display: inline-block;
}
.left2 .temp-info .temp-icon {
  font-size: 45px;
  color: white;
}
.custom {
  color: var(--color);
}

.center1 {
  background: #222530;
}
.center2 {
  background: #262936;
}
.center1,
.right1 {
  padding: 10px;
  text-align: center;
}
.center2,
.right2 {
  padding: 50px 20px;
  text-align: center;
}
.center2 .temp-icon,
.right2 .temp-icon {
  font-size: 35px;
  margin-bottom: 20px;
}
.center2 .temp-info .temp,
.right2 .temp-info .temp {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
/* -------------------------------- footer -------------------------------------*/
footer {
  background-color: #262936;
}
footer .search-container {
  position: relative;
}
footer .search-container input {
  width: 100%;
  padding: 17px;
  background: var(--bg-color);
}
footer .search-container button {
  position: absolute;
  padding: 0px 22px;
  top: 5px;
  right: 5px;
  bottom: 5px;
  background-color: var(--color);
}
footer .icons a {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: var(--color);
  background-color: var(--bg-color);
  font-size: 18px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
footer .icons a:hover {
  color: white;
  background-color: var(--color);
}

@media only screen and (max-width: 991px) {
  footer .col-lg-3 {
    margin-top: 25px;
  }
}
